@charset "UTF-8";
/* Inicio de archivo css para estilos */
/* Reinicio de estilos */
* {
  padding: 0;
  margin: 0;
}

/* Extends */
.titulo-contact, .titulo, .parrafo-1, .parrafo-2, .p-main-2 {
  /* Estilo para textos */
  color: #39ca39;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

a {
  /* Estilo de Links */
  text-decoration: none;
  color: #72a723;
}

ul {
  /* Estilo para lista desordenada */
  list-style: none;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: bold;
}

.parrafo-3, .parrafo-4, .p-main-1, .p-main-3 {
  /* Estilo para Párrafos */
  color: #72a723;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.carrito-container-1, .carrito-container-2, .carrito-container-3, .prod-fila2-container, .prod-fila1-container {
  /* Estilo para contenedores de productos */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.prod1-fila1, .prod2-fila1, .prod1-fila2, .prod2-fila2 {
  /* Seccion "Productos" - Flexbox - Estilos */
  text-align: center;
  padding: 1em;
  background: linear-gradient(-45deg, #000000, #0b3333);
  border: 1px black;
  border-radius: 20px;
}

.img-prod-1, .img-prod-2, .img-prod-3, .img-prod-4 {
  margin-bottom: 1em;
}

.parrafo-1, .parrafo-2, .p-main-2 {
  font-size: 1.5em;
}

.titulo {
  /* Titulo principal */
  font-size: 3.5em;
  margin: 1em 0em;
}

.prod-fila1-container {
  margin-bottom: 2em;
}

.carrito-container-1, .carrito-container-2, .carrito-container-3 {
  color: #39ca39;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3em;
}

/* Fin Extends */
/* Maps*/
.img-principal {
  height: auto;
  width: 100%;
  border: 0;
}

/* Fin Maps */
/* Mixin */
/* Transformaciones - Parrafos */
.p-transform-1, .p-transform-2, .p-transform-3, .title-transform {
  transition: all 1s;
  transform: all 1s;
  -webkit-transform: all 1s;
  -o-transform: all 1s;
  -moz-transform: all 1s;
}

/* Transformaciones - Productos */
.prod1-fila1, .prod2-fila1, .prod1-fila2, .prod2-fila2 {
  transition: all 0.5s;
  transform: all 0.5s;
  -webkit-transform: all 0.5s;
  -o-transform: all 0.5s;
  -moz-transform: all 0.5s;
}

.p-transform-1:hover {
  transition: scale(1.6);
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -o-transform: scale(1.6);
  -moz-transform: scale(1.6);
}

.p-transform-2:hover {
  transition: scale(1.6);
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -o-transform: scale(1.6);
  -moz-transform: scale(1.6);
}

.p-transform-3:hover {
  transition: scale(1.6);
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -o-transform: scale(1.6);
  -moz-transform: scale(1.6);
}

.title-transform:hover {
  transition: scale(1.3) skew(10deg, 10deg);
  transform: scale(1.3) skew(10deg, 10deg);
  -webkit-transform: scale(1.3) skew(10deg, 10deg);
  -o-transform: scale(1.3) skew(10deg, 10deg);
  -moz-transform: scale(1.3) skew(10deg, 10deg);
}

.prod1-fila1:hover, .prod2-fila1:hover, .prod1-fila2:hover, .prod2-fila2:hover {
  transition: scale(1.1);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/* Fin Mixin */
/* Estilos Header */
.fondo {
  /* Estilos para imagen de fondo */
  background-image: url("../media/images/fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.fondo .box {
  display: flex;
  justify-content: center;
}
.fondo .logo {
  /* Logo de la pag */
  padding-top: 1em;
  padding-left: 1em;
}
.fondo .nav-fondo {
  /* NavBar - Menú */
  background: linear-gradient(45deg, #344444, #4d7a7a);
}
.fondo .nav-fondo .nav-link {
  font-size: 1.5em;
  color: #72a723;
}
.fondo .nav-fondo .nav-link:hover {
  /* Cuando se pasa por los elementos del navbar, se subrayan y se cambian a otro color */
  text-decoration: underline;
  color: greenyellow;
}
.fondo .nav-fondo .carrito {
  /* Ajuste del tamaño del carrito */
  width: 1.5m;
  height: 1.5em;
}

/* Fin Estilos - Header */
/* Estilos - Main */
main .img-principal {
  /* Imagen Principal */
  height: auto;
  width: 100%;
  border: 0;
}
main .carousel {
  /* Tamaño del Carousel de BS */
  width: 75%;
  height: auto;
  margin: auto;
}
main .p-container-main {
  display: flex;
  justify-content: space-around;
  margin-top: 3.5em;
  margin-bottom: 5em;
  flex-wrap: wrap;
}
main .p-container-main .p-main-1, main .p-container-main .p-main-2, main .p-container-main .p-main-3 {
  font-size: 1.5em;
}
main .prod-fila2-container {
  padding-left: 50px;
}
main .accordion {
  /* Estilos para acordeon en seccion FAQ */
}
main .accordion .accordion-button {
  background: linear-gradient(-45deg, #000000, #0b3333);
}
main .accordion .respuesta-1 {
  color: #9ae22d;
  background: linear-gradient(45deg, #344444, #4d7a7a);
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1.2em;
}

.grid-container-about {
  /* Seccion "Nosotros" - Estilos - Grid */
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0px;
}
.grid-container-about .grid-parrafo {
  grid-area: 1/1/2/2;
}
.grid-container-about .grid-parrafo .parrafo-about {
  align-self: center;
}
.grid-container-about .grid-imagen {
  grid-area: 1/2/2/3;
}
.grid-container-about .grid-imagen .img-about {
  height: auto;
  width: 100%;
}

.grid-container-contact {
  /*Seccion "Contacto" - Estilos - Grid */
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container-contact .grid-map {
  grid-area: 1/1/2/2;
}
.grid-container-contact .grid-form {
  grid-area: 1/2/2/3;
}
.grid-container-contact .grid-form .form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-container-contact .grid-form .form-contact .name-contact, .grid-container-contact .grid-form .form-contact .email-contact {
  margin-bottom: 2em;
}

.carrito-main .carrito-titulo {
  /* Seccion "Carrito" - Estilos */
  text-align: start;
  margin-left: 2em;
}
.carrito-main .carrito-1, .carrito-main .carrito-2, .carrito-main .carrito-3 {
  text-align: center;
}
.carrito-main .separate {
  margin-bottom: 3em;
}
.carrito-main .name-carrito-1, .carrito-main .name-carrito-2, .carrito-main .name-carrito-3 {
  text-align: center;
  align-self: center;
}
.carrito-main .titulo-carrito-prod1, .carrito-main .titulo-carrito-prod2, .carrito-main .titulo-carrito-prod3 {
  margin-bottom: 2em;
}
.carrito-main .button-container {
  display: flex;
  justify-content: center;
}
.carrito-main .button-buy {
  display: flex;
}

/* Fin Estilos - Main */
/* Estilos - Footer */
.footer-menu-container {
  /* Footer - Estilo con Flexbox */
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}
.footer-menu-container .terminos {
  color: #72a723;
  font-size: 1.5em;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: start;
}
.footer-menu-container .footer-terminos {
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}
.footer-menu-container .footer-terminos .terminos-hover:hover {
  text-decoration: underline;
  color: greenyellow;
}

.wsp-container {
  /* Estilos para opcion de contacto por WhatsApp */
  position: fixed;
  right: 1px;
  bottom: 1px;
  display: flex;
  justify-content: right;
  z-index: 100;
}

.wsp {
  width: 60px;
  height: 60px;
  background-color: #72a723;
  border: 1px solid black;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
  margin-bottom: 2em;
}
.wsp .imagen-wsp {
  width: 80%;
  height: 80%;
}

/* Fin Estilos - Footer */
/* MediaQueries para Tablets */
@media screen and (min-width: 500px) and (max-width: 978px) {
  .p-transform-1, .p-transform-2, .p-transform-3, .title-transform, .prod1-fila1, .prod1-fila2, .prod2-fila1, .prod2-fila2 {
    transition: none !important;
    transform: none !important;
  }

  .prod1-fila2 {
    /* Correccion margin en Tablet Ipad */
    margin-bottom: 2em;
  }

  .parrafo-about {
    /* Correccion tamaño fuente en seccion Contacto para tablet Ipad */
    font-size: 1.2em;
  }

  .wsp {
    /* Modificacion de tamaño de boton de WhatsApp */
    width: 50px;
    height: 50px;
    margin-right: 0em;
    margin-top: 0em;
  }

  .wsp-container {
    right: 7px;
    bottom: -27px;
  }
}
/* Media Queries para Mobiles */
@media screen and (max-width: 500px) {
  .p-transform-1, .p-transform-2, .p-transform-3, .title-transform, .prod1-fila1, .prod1-fila2, .prod2-fila1, .prod2-fila2 {
    /* Eliminacion de transformaciones en Mobiles */
    transition: none !important;
    transform: none !important;
  }

  .prod1-fila1, .prod1-fila2 {
    /* Ajuste de margenes para los botones de la seccion de Productos */
    text-align: center;
    margin-bottom: 2em;
  }

  .titulo {
    /* Ajuste del tamaño de los titulos para mobiles */
    font-size: 2em;
  }

  .terminos-2 {
    /* Ajuste del tamaño del footer para mobiles */
    font-size: 0.8em;
  }

  .parrafo-1, .parrafo-2 {
    /* Ajuste del tamaño de los parrafos en general para mobiles */
    font-size: 1em;
  }

  /*Ajuste del corrimiento de la fila 2 de los productos por tamaño de imagenes */
  .prod-fila2-container {
    padding-left: 0px !important;
  }

  .grid-container-about {
    /* Eliminacion del grid para mobiles y desplazamiento de imagen en seccion "Nosotros" */
    display: flex;
    flex-wrap: wrap;
  }

  .grid-container-contact {
    /* Eliminacion del grid para mobile en seccion "Contacto" */
    display: flex;
    flex-wrap: wrap;
  }

  .grid-map {
    /* Ajuste del margen para mobiles del mapa */
    margin: auto;
  }

  .grid-form {
    margin-top: 2em;
    font-size: 1em;
  }

  .titulo-contact {
    margin-left: 1em;
  }

  ul {
    /* Ajuste de padding automatico de etiqueta "ul" por libreria de BS */
    padding-left: 0;
  }

  .carrito-1, .carrito-2, .carrito-3 {
    /* Ajuste de margin entre imagenes del carrito */
    margin-bottom: 2em;
  }

  .img-prod-1, .img-prod-2, .img-prod-3, .img-prod-4 {
    height: 60%;
    width: 60%;
  }

  .titulo-carrito-prod1, .titulo-carrito-prod2, .titulo-carrito-prod3 {
    font-size: 1em;
  }

  .wsp {
    /* Modificacion de tamaño de boton de WhatsApp para mobiles */
    width: 40px;
    height: 40px;
    margin-right: 0em;
    margin-top: 0em;
  }

  .wsp-container {
    right: 7px;
    bottom: -27px;
  }
}
/* Fin de archivo css para estilos */

/*# sourceMappingURL=style.css.map */
