/* Inicio de archivo css para estilos */

/* Reinicio de estilos */

* {
    padding: 0;
    margin: 0;
}

@import 'base/extends';

.parrafo-1, .parrafo-2, .p-main-2{
    font-size: 1.5em;
    @extend %estiloTextos;
    
}

a{
    @extend %estiloLinks;
}

ul {
    @extend %estiloUL;
}

.titulo {
    /* Titulo principal */
    @extend %estiloTextos;
    font-size: 3.5em;
    margin: 1em 0em;
}
.titulo-contact {
    @extend %estiloTextos;
}

.parrafo-3, .parrafo-4, .p-main-1, .p-main-3 {
    @extend %estiloParrafo;
}

.prod-fila1-container {
    margin-bottom: 2em;
    @extend %seccionProd-container;
    
}

.prod-fila2-container {
    @extend %seccionProd-container;

}

.prod1-fila1, .prod2-fila1, .prod1-fila2, .prod2-fila2 {
    @extend %seccionProd-filas;

}

.img-prod-1, .img-prod-2, .img-prod-3, .img-prod-4 {
    @extend %seccionProd-img;
}

.carrito-container-1, .carrito-container-2, .carrito-container-3 {
    @extend %seccionProd-container;
    color: rgb(57, 202, 57);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3em;
}
/* Fin Extends */

@import 'base/maps';

.img-principal{
    height: map-get($imagenPrincipal, img-height );
    width: map-get($imagenPrincipal, img-width );
    border: map-get($imagenPrincipal, img-border);
}

/* Fin Maps */

@import 'base/mixin'; 
/* Transformaciones Parrafos */

.p-transform-1, .p-transform-2, .p-transform-3, .title-transform {
    @include transformaciones(all 1s);
}

.p-transform-1:hover{
    @include transformaciones(scale(2));
}

.p-transform-2:hover {
    @include transformaciones(scale(2));
}
.p-transform-3:hover {
    @include transformaciones(scale(2));
}
.title-transform:hover {
    @include transformaciones(scale(2));
}

/* Fin Mixin */

@import 'components/header';

@import 'components/main';

@import 'components/footer';

@import 'base/mediaQueries';


/* Fin de archivo css para estilos */
