/* Inicio de archivo css para estilos */

/* Reinicio de estilos */

* {
    padding: 0;
    margin: 0;
}

@import 'base/extends';

.parrafo-1, .parrafo-2, .p-main-2{
    font-size: 1.5em;
    @extend %estiloTextos;
    
}

a{
    @extend %estiloLinks;
}

ul {
    @extend %estiloUL;
}

.titulo {
    /* Titulo principal */
    @extend %estiloTextos;
    font-size: 3.5em;
    margin: 1em 0em;
}
.titulo-contact {
    @extend %estiloTextos;
}

.parrafo-3, .parrafo-4, .p-main-1, .p-main-3 {
    @extend %estiloParrafo;
}

.prod-fila1-container {
    margin-bottom: 2em;
    @extend %seccionProd-container;
    
}

.prod-fila2-container {
    @extend %seccionProd-container;

}

.prod1-fila1, .prod2-fila1, .prod1-fila2, .prod2-fila2 {
    @extend %seccionProd-filas;

}

.img-prod-1, .img-prod-2, .img-prod-3, .img-prod-4 {
    @extend %seccionProd-img;
}

.carrito-container-1, .carrito-container-2, .carrito-container-3 {
    @extend %seccionProd-container;
    color: rgb(57, 202, 57);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3em;
}
/* Fin Extends */

@import 'base/maps';

.img-principal{
    height: map-get($imagenPrincipal, img-height );
    width: map-get($imagenPrincipal, img-width );
    border: map-get($imagenPrincipal, img-border);
}

/* Fin Maps */

@import 'base/mixin'; 
/* Transformaciones Parrafos */

.p-transform-1, .p-transform-2, .p-transform-3, .title-transform {
    @include transformaciones(all 1s);
}

.p-transform-1:hover{
    @include transformaciones(scale(2));
}

.p-transform-2:hover {
    @include transformaciones(scale(2));
}
.p-transform-3:hover {
    @include transformaciones(scale(2));
}
.title-transform:hover {
    @include transformaciones(scale(2));
}

/* Fin Mixin */

@import 'components/header';

@import 'components/main';

@import 'components/footer';

/* MediaQueries para Tablets */

@media only screen and (min-width: 500px) and (max-width: 978px) {

    .p-transform-1, .p-transform-2, .p-transform-3, .title-transform{
        transition: none !important;
        transform: none !important;
    }

    .wsp {                          /* Modificacion de tamaño de boton de WhatsApp */
        width: 50px;
        height: 50px;
        margin-right: 0em;
        margin-top: 0em;
    }

    .wsp-container{
        right: 7px;
        bottom: -27px;
    }

}

/* Media Queries para Mobiles */

@media only screen and (max-width: 499px){


    .p-transform-1, .p-transform-2, .p-transform-3, .title-transform{       /* Eliminacion de transformaciones en Mobiles */
        transition: none !important;
        transform: none !important;
    }

    .prod1-fila1, .prod1-fila2 {        /* Ajuste de margenes para los botones de la seccion de Productos */
        text-align: center;
        margin-bottom: 2em;
    }

    .titulo {                       /* Ajuste del tamaño de los titulos para mobiles */
        font-size: 2em;
    }

    .terminos, .footer-terminos{    /* Ajuste del tamaño de los parrafos del footer */
        font-size: 0.85em;  
    }

    .parrafo-1, .parrafo-2 {        /* Ajuste del tamaño de los parrafos en general para mobiles */
        font-size: 1em;
    }

    .grid-container-about {         /* Eliminacion del grid para mobiles y desplazamiento de imagen en seccion "Nosotros" */
        display: flex;
        flex-wrap: wrap;
    }

    .grid-container-contact{    /* Eliminacion del grip para mobile en seccion "Contacto" */
        
        display: flex;
        flex-wrap: wrap;
    }
    .grid-map {                     /* Ajuste del margen para mobiles del mapa */
        margin: auto;
    }
    .grid-form {
        margin-top: 2em;
        font-size: 1em;
    }

    .titulo-contact {
        margin-left: 1em;
    }

    ul{                             /* Ajuste de padding automatico de etiqueta "ul" por libreria de BS */
        padding-left: 0;
    }

    .carrito-1, .carrito-2, .carrito-3 {    /* Ajuste de margin entre imagenes del carrito */
        margin-bottom: 2em;
        
    }

    .img-prod-1, .img-prod-2, .img-prod-3, .img-prod-4 {
        height: 60%;
        width: 60%;
    }

    .titulo-carrito-prod1, .titulo-carrito-prod2, .titulo-carrito-prod3 {
        font-size: 1em;
    }

    .wsp {                          /* Modificacion de tamaño de boton de WhatsApp */
        width: 40px;
        height: 40px;
        margin-right: 0em;
        margin-top: 0em;
    }

    .wsp-container{
        right: 7px;
        bottom: -27px;
    }
}

/* Fin de archivo css para estilos */
