/* Estilos - Footer */

    .footer-menu-container {
        /* Footer - Estilo con Flexbox */
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        margin-bottom: 2em;
        .terminos {
            color: rgb(114, 167, 35);
            font-size: 1.5em;
            font-family: 'Zen Kaku Gothic New', sans-serif;
            font-weight: bold;
            display: flex;
            justify-content: start;
        }

        .footer-terminos {
            display: flex;
            justify-content: space-around;
            font-size: 1.5em;
        }
    }
        
    .wsp-container{
        /* Contacto WhatsApp */
        position: fixed;
        right: 1px;
        bottom: 1px;
        display: flex;
        justify-content: right;
        z-index: 100;
    }
        .wsp {
            width: 60px;
            height: 60px;
            background-color: rgb(114, 167, 35);
            border: 1px solid black;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2em;
            margin-bottom: 2em;

            .imagen-wsp {
                width: 80%;
                height: 80%;
            }
        }
/* Fin Estilos - Footer */