/* Estilos Header */

.fondo {
 /* Estilos para imagen de fondo */
    background-image: url("../media/images/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
        .box {
            display: flex;
            justify-content: center;
        } 
        .logo {               
            /* Logo de la pag */     
            padding-top: 1em;
            padding-left: 1em;
        }
        .nav-fondo {
            /* NavBar - Menú */
            background: linear-gradient(45deg,rgb(52, 68, 68), rgb(77, 122, 122));
                .nav-link {
                    font-size: 1.5em;
                    color: rgb(114, 167, 35);
                    &:hover {
                        /* Cuando se pasa por los elementos del navbar, se subrayan y se cambian a otro color */
                        text-decoration: underline;
                        color: greenyellow;
                    }
                        }
                    .carrito {
                        /* Ajuste del tamaño del carrito */
                        width: 1.5m;
                        height: 1.5em;
                    }
        }
}

/* Fin Estilos - Header */
