/* Estilos - Main */


main {
    .img-principal {
        /* Imagen Principal */
        height: auto;
        width: 100%;
        border: 0;
    }

    .p-container-main {
        display: flex;
        justify-content: space-around;
        margin-top: 3.5em ;
        margin-bottom: 5em;
        flex-wrap: wrap;

        .p-main-1, .p-main-2, .p-main-3 {
            font-size: 1.5em;
        }
    }
}

.grid-container-about {
    
    /* Seccion "Nosotros" - Estilos - Grid */
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0px;

    .grid-parrafo {
        grid-area: 1 / 1 / 2 / 2;
           .parrafo-about {
                align-self: center;
            }
        }

    .grid-imagen {
        grid-area: 1 / 2 / 2 / 3;
        .img-about {
            height: auto;
            width: 100%;
        }
    }
}


.grid-container-contact {
    /*Seccion "Contacto" - Estilos - Grid */
    display: grid;;
    grid-template-columns: auto auto;
        .grid-map {
            grid-area: 1 / 1 /2 / 2;
        }
        .grid-form {
            grid-area: 1 / 2 / 2 / 3;
        }
}






