/* Estilos - Main */


main {
    .img-principal {
        /* Imagen Principal */
        height: auto;
        width: 100%;
        border: 0;
    }

    .carousel {
        /* Tamaño del Carousel de BS */
        width: 75%;
        height: auto;
        margin: auto;
    }

    .p-container-main {
        display: flex;
        justify-content: space-around;
        margin-top: 3.5em ;
        margin-bottom: 5em;
        flex-wrap: wrap;

        .p-main-1, .p-main-2, .p-main-3 {
            font-size: 1.5em;
        }
    }

    .prod-fila2-container{
        padding-left: 50px;
    }

    .accordion {
        .accordion-button {
            background: linear-gradient(-45deg, #000000, #0b3333);;
        }
        .respuesta-1{
            color: rgb(154, 226, 45);
            background: linear-gradient(45deg, #344444, #4d7a7a);
            font-family: 'Zen Kaku Gothic New', sans-serif;
            font-size: 1.2em;
        }
    }
}





.grid-container-about {
    
    /* Seccion "Nosotros" - Estilos - Grid */
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0px;

    .grid-parrafo {
        grid-area: 1 / 1 / 2 / 2;
           .parrafo-about {
                align-self: center;
            }
        }

    .grid-imagen {
        grid-area: 1 / 2 / 2 / 3;
        .img-about {
            height: auto;
            width: 100%;
        }
    }
}


.grid-container-contact {
    /*Seccion "Contacto" - Estilos - Grid */
    display: grid;;
    grid-template-columns: auto auto;
        .grid-map {
            grid-area: 1 / 1 /2 / 2;
        }
        .grid-form {
            grid-area: 1 / 2 / 2 / 3;
            .form-contact {
                display: flex;
                flex-direction: column;
                align-items: center;
                .name-contact, .email-contact {
                    margin-bottom: 2em;
                }
            }
        }
}


.carrito-main {
    .carrito-titulo {
        /* Seccion "Carrito" - Estilos */
        text-align: start;
        margin-left: 2em;
    }

    .carrito-1, .carrito-2, .carrito-3 {
        text-align: center;
    }

    .separate {
        margin-bottom: 3em;
    }

    .name-carrito-1, .name-carrito-2, .name-carrito-3 {
    
        text-align: center;
        align-self: center; 
    }

    .titulo-carrito-prod1, .titulo-carrito-prod2, .titulo-carrito-prod3 {
        margin-bottom: 2em;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }
    .button-buy {
        display: flex;
    }
}

/* Fin Estilos - Main */











