/* MediaQueries para Tablets */
@media screen and (min-width: 500px) and (max-width: 978px) {
    .p-transform-1, .p-transform-2, .p-transform-3, .title-transform {
      transition: none !important;
      transform: none !important;
    }
  
    .wsp {
      /* Modificacion de tama単o de boton de WhatsApp */
      width: 50px;
      height: 50px;
      margin-right: 0em;
      margin-top: 0em;
    }
  
    .wsp-container {
      right: 7px;
      bottom: -27px;
    }
  }
  /* Media Queries para Mobiles */
  @media screen and (max-width: 499px) {
    .p-transform-1, .p-transform-2, .p-transform-3, .title-transform {
      /* Eliminacion de transformaciones en Mobiles */
      transition: none !important;
      transform: none !important;
    }
  
    .prod1-fila1, .prod1-fila2 {
      /* Ajuste de margenes para los botones de la seccion de Productos */
      text-align: center;
      margin-bottom: 2em;
    }
  
    .titulo {
      /* Ajuste del tama単o de los titulos para mobiles */
      font-size: 2em;
    }
  
    .terminos, .footer-terminos {
    font-size: 0.8em;
    }
  
    .parrafo-1, .parrafo-2 {
      /* Ajuste del tama単o de los parrafos en general para mobiles */
      font-size: 1em;
    }
  
    .grid-container-about {
      /* Eliminacion del grid para mobiles y desplazamiento de imagen en seccion "Nosotros" */
      display: flex;
      flex-wrap: wrap;
    }
  
    .grid-container-contact {
      /* Eliminacion del grip para mobile en seccion "Contacto" */
      display: flex;
      flex-wrap: wrap;
    }
  
    .grid-map {
      /* Ajuste del margen para mobiles del mapa */
      margin: auto;
    }
  
    .grid-form {
      margin-top: 2em;
      font-size: 1em;
    }
  
    .titulo-contact {
      margin-left: 1em;
    }
  
    ul {
      /* Ajuste de padding automatico de etiqueta "ul" por libreria de BS */
      padding-left: 0;
    }
  
    .carrito-1, .carrito-2, .carrito-3 {
      /* Ajuste de margin entre imagenes del carrito */
      margin-bottom: 2em;
    }
  
    .img-prod-1, .img-prod-2, .img-prod-3, .img-prod-4 {
      height: 60%;
      width: 60%;
    }
  
    .titulo-carrito-prod1, .titulo-carrito-prod2, .titulo-carrito-prod3 {
      font-size: 1em;
    }
  
    .wsp {
      /* Modificacion de tama単o de boton de WhatsApp */
      width: 40px;
      height: 40px;
      margin-right: 0em;
      margin-top: 0em;
    }
  
    .wsp-container {
      right: 7px;
      bottom: -27px;
    }
  }